main {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    animation: entrance 1s;
}

header {
    width: 30%;
    height: 90px;
    box-sizing: inherit;
}
.header_title {
    height: 50%;
    color: #f0f8ff;
    background-color: #53d2d9;
    box-sizing: inherit;
    padding: 15px 0 5px 10px;
}
.header_info {
    height: 50%;
    background-color: #f0f8ff;
    color: #000000;
    box-sizing: inherit;
    text-align: center;
    font-weight: bold;
}
.span_info {
    display: block;
    font-style: italic;
}
aside {
    width: 30%;
    height: 600px;
    box-sizing: inherit;
    background-color: #53d2d9;
    color: #f0f8ff;
    padding-left: 10px;
    float: left;
    margin-bottom: 30px;
}
aside > div {
    height: 20%;
    box-sizing: inherit;
    padding: 20px 0 0 10px;
}
.bigSpan {
    display: block;
}
.smallSpan {
    color: #1f9fa7;
}
section {
    width: 600px;
    height: 800px;
    float: right;
    box-sizing: inherit;
    padding: 5px;
    background-color: #f0f8ff;
}
.details {
    margin-bottom: 20px;
}
.details:hover {
    box-shadow: 2px 2px 2px #1f9fa7;
    transform: scale(1.1);
}
#details_st {
    height: 30%;
}
#details_nd {
    height: 50%;
}
.left {
    width: 30%;
    float: left;
    clear: both;
}
.right {
    width: 70%;
    float: right;
}
.left > span {
    display: block;
}
.title {
    height: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #53d2d9;
    font-weight:bold;
}
.skill {
    width: 20%;
    height: 28px;
    display: inline-block;
    margin-bottom: 10px;
}
.skill > img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
label {
    vertical-align: middle;
    border: 1px solid #1f9fa7;
    padding: 5px;
    box-sizing: border-box;
}
.tooltip {
    width: 100px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30%;
    position: absolute;;
    z-index: 1;
    background-color: #ffffff;
    color: #000000;
    visibility: hidden;
}
.skill:hover .tooltip {
    visibility: visible;
}
#css:hover::after {
    content:"I hate CSS, \A I hate CSS, \A I hate CSS... \A It's working! \A I love CSS! 🍾";
    white-space: pre;
    width: 100px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 30%;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    color: #000000;
}
footer {
    clear: both;
    background-color: #53d2d9;
    color: #f0f8ff;
    height: 70px;
}
.footer_details {
    width: 33%;
    height: inherit;
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

@keyframes entrance {
    5% {
        transform: rotate(18deg); 
        zoom: 0.05;
    }
    10% {
        transform: rotate(36deg);   
        zoom: 0.1;
    }
    15% {
        transform: rotate(54deg);
        zoom: 0.15;
    }
    20% {
        transform: rotate(72deg); 
        zoom: 0.2;   
    }
    25% {
        transform: rotate(90deg);
        zoom: 0.25;
    }
    30% {
        transform: rotate(108deg);
        zoom: 0.3;
    }
    35% {
        transform: rotate(126deg);
        zoom: 0.35;
    }
    40% {
        transform: rotate(144deg);
        zoom: 0.4;
    }
    45% {
        transform: rotate(162deg);
        zoom: 0.45;
    }
    50% {
        transform: rotate(180deg);
        zoom: 0.5;
    }
    55% {
        transform: rotate(198deg);
        zoom: 0.55;
    }
    60% {
        transform: rotate(216deg);
        zoom: 0.6;
    }
    65% {
        transform: rotate(234deg);
        zoom: 0.65;
    }
    70% {
        transform: rotate(252deg);
        zoom: 0.7;
    }
    75% {
        transform: rotate(270deg);
        zoom: 0.75;
    }
    80% {
        transform: rotate(288deg);
        zoom: 0.8;
    }
    85% {
        transform: rotate(306deg);
        zoom: 0.85;
    }
    90% {
        transform: rotate(324deg);
        zoom: 0.9;
    }
    95% {
        transform: rotate(342deg);
        zoom: 0.95;
    }
    100% {
        transform: rotate(360deg);
        zoom: 1;
    }

}
