main {
    max-width: 1200px;
    margin: auto;
    
}
header {
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: lightseagreen;
    background: radial-gradient(rgba(233, 233, 128, 0.5), rgba(166, 241, 241, 0.5));

}
header::before {
content: "I'm HEADER!";

}
header.header::before {
    content: attr(text);
    font-size: 24px;
}
.articles {
    display: flex;
    justify-content: space-around;

}
.special {
    color: pink;
}
.clicked {
    color: black;
}
.btnClicked {
    background-color: pink;
    text-transform: uppercase;
    border: 3px outset white;
}
article {
    width: 300px;
}
.biggerChanged {
    content: "I'm bigger";
    font-size: 24px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
figure {
    width: 33.33%;
    margin: 10px 0 10px 0;
    text-align: center;
}
.favorites img {
    width: 120px;
    height: 100px;
}
figcaption {
    text-align: center;
    font-style: italic;
}
footer {
    background: url('media/sectionbg.jpg') no-repeat right;
    background-size: contain;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div {
    width: 150px;
    text-align: center;
}
footer div div, button {
    margin-top: 10px;
}
footer div div:last-child {
    display: none;
}