main {
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        'header .'
        'aside section'
        'footer footer';
    grid-gap: 0 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    position: relative;
    animation: cv_office_entrance 3s;
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header_title {
    color: #f0f8ff;
    background-color: #53d2d9;
    padding: 15px 0 5px 10px;
}
.header_info {
    background-color: #f0f8ff;
    color: #000000;
    text-align: center;
    font-weight: bold;
}
.header_info::after {
    content: attr(text);
    display: block;
    font-style: italic;
}
aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #53d2d9;
    color: #f0f8ff;
    margin-bottom: 30px;
}
aside > div {
    padding: 20px;
}
aside div::after{
    content:attr(text);
    display: block;
    color: #1f9fa7;
}
aside:hover div{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #f0f8ff;
    transition: 0.5s;
  }
section {
    grid-area: section;
    display: grid;
    grid-gap: 10px 0;
    padding: 10px;
    background-color: #f0f8ff;
}

.details p {
    margin: auto;
}
.details:hover {
    box-shadow: 3px 3px 5px #1f9fa7;
    transform: scale(1.1);
    background-color: #53d2d9;
    transition: 0.5s all;

}
.multipleRows {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px 0;
}
.multipleRows span {
    display: block;
}
.title {
    height: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #53d2d9;
    font-weight:bold;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    
}
.skills div {
    width: 20%;
    position: relative;
}

.skills div > img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
label {
    vertical-align: middle;
    border: 1px solid #1f9fa7;
    padding: 5px;
    box-sizing: border-box;
}
.tooltip {
    width: 100px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30%;
    position: absolute;;
    z-index: 1;
    background-color: #f0f8ff;
    color: #000000;
    visibility: hidden;
}
.skills div:hover::after {
    content: attr(text);
    width: 100px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 30%;
    position: absolute;
    z-index: 1;
    background-color: #f0f8ff;
    color: #000000;

}
#css:hover::after {
    content:"I hate CSS, \A I hate CSS, \A I hate CSS... \A It's working! \A I love CSS! 🍾";
    white-space: pre;
    width: 100px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 30%;
    position: absolute;
    z-index: 1;
    background-color: #f0f8ff;
    color: #000000;
}
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: #f0f8ff;
}
footer div {
    height: 80%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #53d2d9;
}
footer div:hover {
    border-radius: 10%;
    box-shadow: 5px 5px 10px #1f9fa7;
    transition-duration: 0.5s;
    transition-property: all;
}
@media all and (max-width: 768px) {
    main {
          max-width: 600px;
          display: grid;
          grid-template-columns: 1fr;
          
          grid-template-areas: 
            'header'
            'section'
            'aside'
            'footer';
    grid-gap: 0 20px;
    }
    aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
    aside > div {
        padding: 0;
        height: 50%;
        text-align: center;
    }
}

@keyframes cv_office_entrance {
 0% {
top: -500px;
 }
 100% {
     top: 0;
 }
}

