#body {
    background-color: #caf5f3;
}
.container-fluid {
    background-color: #f0f8ff;
    max-width: 900px;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    animation: entrance 1s forwards;
}
.container-fluid> .row {
    margin: auto;
    padding: 20px 0 20px 0;
    align-items: center;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header img {
    width: 150px;
    height: 200px;
    border-radius: 15px 50px;
    }
 header img:hover {
    animation: big 1s forwards;
}   
.name {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.personalInfo span {
    border-bottom: 2px solid #53d2d9;
    display: block;
}
.personalDetails {
    margin-top: 20px;
}
.personalDetails:after {
    content: attr(text);
    display: block;
    font-weight: bold;
}
section {
    margin-bottom: 15px;
}
a img {
width: 250px;
height: 150px;

}
figure {
    text-align: center;
    color: #000000;
    transition: border 0.2s;
}
figure:hover {
    border: 3px outset #ffffff;
}
footer a {
    color: #000000;
}

@media all and (max-width: 768px){
    .centered {
        text-align: center;
    }
}
@media all and (max-width: 992px){
    header, aside {
        text-align: center;
    }
}

@keyframes entrance {
    0% {
        transform: rotate(0deg) scale(.5);
        
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes big {
    100% {
        width: 170px;
        height: 220px;
    }
}

